@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#header {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.business__logo--img {
    width: 75px;
    height: 75px;
}

nav {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
}

.contact__link {
    margin: 0 24px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;    
}

.contact__link:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.business__name {
    font-size: 50px;
}

/**MIDDLE**MIDDLE**MIDDLE**MIDDLE**/


.fruit__img {
    display: flex;
    flex-wrap: wrap;
}

.fruit__img--wrapper {
    width: 75px;
    height: 75px;
}

.fruit__items {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;;
}

.fruit__para {
    text-align: center;
}

.fruit__labels {
    display: flex;
    flex-wrap: wrap;
}

.img {
    width: 100%;
}


/**FOOTER**FOOTER**FOOTER**/

footer {
    width: 100%;
    padding-top: 1200px;
    height: 10%;

}

.footer__row {    
    flex-direction: column;    
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 18px;
}

.footer__links { 
    width: 100%;   
    padding-top: 100px;    
    display: flex;
    justify-content: center;
    text-align: center;
}
