@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
    color: #243e63;       
}

#heading {
    width: 100%;
    max-width: 1200px;
    height: 10%;
}

/**GENERAL CODING FOR ENTIRE WEBSITE**/

/**TOP SECTION: NAV BAR SECTION OF PAGE: HOME, ABOUT, & CONTACT LINKS**/

nav {    
    width: 100%;
    height: 75px;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.contact__link:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.business__logo--img {
    width: 75px;
    height: 75px;
    background: none;
    
}

.business__name {
    color: green;
    font-size: 50px;  
}

.business__contacts {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.contact__link {
    font-size: 18px;
    font-weight: 700;
    padding-top: 4px;
    margin: 0 24px;
    text-decoration: none;
}

/**GENERAL SECTION FOR ENTIRE PAGE**/
section {
    width: 100%;
    height: 10%;
    display: block;  
}


html, body {
    height: 100%;    
}

html {
    scroll-behavior: smooth;
}


/**MIDDLE SECTION**MIDDLE SECTION**MIDDLE SECTION**/

.fruit__row {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding-top: 18px;    
}

.fruit__items {
    width: 100%;
    padding-top: 100px;       
    display: flex;
    justify-content: center;
    align-items: center;        
}

.fruit__para {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 36px;
}

.fruit {
    width: 25%;
    padding: 24px;
}

/**👇THE C0DE THAT MAGICALLY LINE ITEMS UP ABOVE EACH OTHER👇**/
.fruit__labels {
    display: flex;
    flex-wrap: wrap;
}
/**☝️THE CODE THAT MAGICALLY LINE ITEMS UP ABOVE EACH OTHER☝️**/

.fruit__name {
    font-size: 20px;
    margin-bottom: 8px;
    color: orange;
}

.fruit__img--wrapper {
    border-radius: 30px;
    overflow: hidden;
    border: none;
    background-color: transparent;
    background: none;
}

.fruit__name:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.fruit__img {
    width: 75px;
    height: 75px;
    margin-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms ease;
    display: flex;
    cursor: pointer;
    background-color: transparent;
}

.fruit__price {
    padding-right: 6px;
    color: green;
}

img {
    width: 100%;
}

.fruit__img:hover .fruit__img--wrapper {
    transform:scale(1.03);
}


/**BOTTOM SECTION: FOOTER SECTION OF PAGE**/

footer {
    padding-top: 1200px;
    width: 100%;
    height: 10%;
}

.footer__row {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 18px;
}

.footer__links {
    width: 100%;
    padding-top: 100px;       
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footer__link {
    margin: 0 12px;
    padding-bottom: 18px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    cursor: not-allowed;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.footer__link .link__orange--effect-orange {
 color: orange; 
}