@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
    color: #243e63;       
}

/**GENERAL CODING FOR ENTIRE WEBSITE**/

/**TOP SECTION: NAV BAR SECTION OF PAGE: HOME, ABOUT, & CONTACT LINKS**/

nav {
    padding-top: 60px;
    padding-bottom: 75px;
    padding-left: 24px;
    padding-right: 6px;    
    height: 75px;    
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.contact__link:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.business__logo--img {
    width: 75px;
    height: 75px;    
}

.business__name {    
    color: green;
    font-size: 50px;  
}

.business__contacts {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.contact__link {
    font-size: 18px;
    font-weight: 700;
    padding-top: 4px;
    margin: 0 24px;
    text-decoration: none;
}

/**GENERAL SECTION FOR ENTIRE PAGE**/


html {
    scroll-behavior: smooth;
}



/**MIDDLE SECTION**MIDDLE SECTION**MIDDLE SECTION**/

#section {    
    height: 8vh;    
    margin: 0 auto ;    
}

.fruits__title {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/**FRUITS & PRICES SECTION**/

#fruits {    
    height: 70vh;    
}

.fruit {          
    margin-left: 24px;
    padding-top: 32px;    
}

.fruit__labels {

    display: flex;
    flex-wrap: wrap;
}

.fruit__img--wrapper {
    width: 50px;
    height: 50px;
}

.products__title {
    padding-bottom: 12px;
}

.fruit__para {
    padding-bottom: 75px;
}












/**BOTTOM SECTION: FOOTER SECTION OF PAGE**/

footer {    
    height: 10vh;

}

.footer__row {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 32px;    
}

.footer__links {

    padding-top: 120px;       
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footer__link {
    margin: 0 12px;
    padding-bottom: 18px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;

}

.footer__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.footer__link .link__orange--effect-orange {
 color: orange;
}